.header_chi {
  padding: 0;
  margin: 0;
  z-index: 2;
  max-width: 1920px; }
  .header_chi .header-content {
    position: relative;
    height: 870px; }
    .header_chi .header-content .sl {
      height: 870px;
      background-color: #e7e7e7; }
      .header_chi .header-content .sl .content_box {
        margin-top: 280px;
        color: #000; }
        .header_chi .header-content .sl .content_box h2 {
          font-size: 48px;
          font-family: Oxygen-Bold, Tahoma, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.1rem; }
        .header_chi .header-content .sl .content_box p {
          font-size: 30px;
          font-weight: 300; }
        .header_chi .header-content .sl .content_box .btn {
          width: 330px;
          color: #1f3399;
          font-size: 1.5rem;
          -webkit-border-radius: 25px;
                  border-radius: 25px;
          background-color: inherit;
          padding: 1rem 1rem;
          margin: 20px 10px;
          text-transform: uppercase;
          position: relative;
          z-index: 999;
          border: 2px solid #1f3399;
          -webkit-box-shadow: none;
                  box-shadow: none;
          -webkit-transition: 250ms ease-in background-color, 500ms ease-in color;
          -o-transition: 250ms ease-in background-color, 500ms ease-in color;
          transition: 250ms ease-in background-color, 500ms ease-in color; }
          .header_chi .header-content .sl .content_box .btn:hover {
            background-color: #ecc868;
            color: #ffffff;
            border: none; }
          .header_chi .header-content .sl .content_box .btn:nth-last-child(2) {
            margin-left: 0; }
    .header_chi .header-content .sl1 {
      background: url("../img/bg_1_chi.jpg") no-repeat 35%;
      -webkit-background-size: cover;
              background-size: cover; }
      .header_chi .header-content .sl1 .content_box {
        width: 100%;
        max-width: 750px;
        float: right;
        margin-right: 60px; }
    .header_chi .header-content .sl2 {
      background: url("../img/bg_2_chi.jpg") no-repeat 40%;
      -webkit-background-size: cover;
              background-size: cover; }
      .header_chi .header-content .sl2 .content_box {
        width: 100%;
        max-width: 750px;
        float: right;
        margin-right: 60px; }
    .header_chi .header-content .sl3 {
      background: url("../img/bg_3_chi.jpg") no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
      .header_chi .header-content .sl3 .content_box {
        width: 100%;
        max-width: 750px;
        float: left;
        margin-left: 60px; }
    .header_chi .header-content .contact-menu_chi {
      position: absolute;
      top: 25px;
      right: 20px;
      margin: 0 auto;
      z-index: 99999;
      font-family: Oxygen-Bold, Tahoma, sans-serif;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 500px; }
      .header_chi .header-content .contact-menu_chi .item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 10px; }
        .header_chi .header-content .contact-menu_chi .item .img-container img {
          margin-right: 10px; }
        .header_chi .header-content .contact-menu_chi .item a {
          color: #bf974d;
          text-decoration: none; }
          .header_chi .header-content .contact-menu_chi .item a:hover {
            text-decoration: underline; }
        .header_chi .header-content .contact-menu_chi .item ul {
          display: block;
          margin: 5px 0;
          padding: 0;
          list-style: none;
          float: left; }
          .header_chi .header-content .contact-menu_chi .item ul:after {
            display: block;
            content: ' ';
            clear: both;
            float: none; }
          .header_chi .header-content .contact-menu_chi .item ul.menu > li {
            float: left;
            position: relative; }
            .header_chi .header-content .contact-menu_chi .item ul.menu > li > a {
              display: block;
              padding: 10px;
              color: #bf974d;
              text-decoration: none; }
          .header_chi .header-content .contact-menu_chi .item ul.submenu {
            visibility: hidden;
            position: absolute;
            width: 120px;
            top: 30px;
            right: 0;
            background-color: #ffffff;
            border: 1px solid #bf974d;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
            .header_chi .header-content .contact-menu_chi .item ul.submenu > li {
              display: block;
              text-align: center; }
              .header_chi .header-content .contact-menu_chi .item ul.submenu > li > a {
                display: block;
                padding: 10px;
                color: #bf974d;
                background-color: #ffffff;
                text-decoration: none; }
                .header_chi .header-content .contact-menu_chi .item ul.submenu > li > a:hover {
                  text-decoration: underline; }
        .header_chi .header-content .contact-menu_chi .item ul.menu > li:hover > ul.submenu {
          visibility: visible; }
        .header_chi .header-content .contact-menu_chi .item .img-container {
          margin: 14px 0; }
        .header_chi .header-content .contact-menu_chi .item .img-leng {
          margin: 14px 0; }
    .header_chi .header-content .header-menu_chi {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 999;
      color: #FFFFFF; }
      .header_chi .header-content .header-menu_chi .desktop_menu {
        font-size: 22px;
        font-family: Oxygen-Bold, Tahoma, sans-serif;
        font-weight: bold;
        float: right;
        margin: 90px 0 0; }
        .header_chi .header-content .header-menu_chi .desktop_menu li {
          list-style: none;
          display: inline-block;
          padding: 0;
          margin: 0 10px; }
          .header_chi .header-content .header-menu_chi .desktop_menu li a {
            text-decoration: none;
            padding: 2px; }
            .header_chi .header-content .header-menu_chi .desktop_menu li a:hover {
              color: #ecc868; }
      .header_chi .header-content .header-menu_chi .burger_button {
        display: none;
        float: right;
        margin: 80px 20px 20px 20px;
        cursor: pointer; }
        .header_chi .header-content .header-menu_chi .burger_button img {
          width: 50px; }
    .header_chi .header-content .mobile_menu-close {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 20px;
      max-width: 400px;
      background-color: #262b2f;
      z-index: -2;
      visibility: hidden; }
      .header_chi .header-content .mobile_menu-close .close {
        float: right;
        cursor: pointer; }
        .header_chi .header-content .mobile_menu-close .close:hover {
          opacity: 0.7; }
      .header_chi .header-content .mobile_menu-close .mobile_content {
        font-size: 20px;
        z-index: -2;
        padding-left: 0; }
        .header_chi .header-content .mobile_menu-close .mobile_content li {
          display: block;
          margin: 20px 0;
          text-align: center; }
          .header_chi .header-content .mobile_menu-close .mobile_content li a {
            text-decoration: none;
            padding: 2px;
            color: #ffffff; }
            .header_chi .header-content .mobile_menu-close .mobile_content li a:visited {
              color: #ecc868; }
            .header_chi .header-content .mobile_menu-close .mobile_content li a:hover {
              color: #ecc868; }
    .header_chi .header-content .mobile_menu-open {
      z-index: 9999;
      visibility: visible; }

.section_2_chi {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #262b2f; }
  .section_2_chi .items_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 40px 0; }
    .section_2_chi .items_wrap .item {
      text-align: center;
      margin: 40px auto;
      width: 198px; }
      .section_2_chi .items_wrap .item .title {
        color: #e9c11b;
        font-size: 22px;
        margin: 10px 0; }
      .section_2_chi .items_wrap .item .description {
        color: #ffffff;
        font-size: 35px;
        margin: 0; }

.section_3_chi {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background: url("../img/bg_sc_3_chi.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .section_3_chi .content .text_block {
    margin: 160px 0;
    max-width: 935px; }
    .section_3_chi .content .text_block .title {
      font-size: 55px;
      text-transform: uppercase; }
    .section_3_chi .content .text_block .description {
      font-size: 35px;
      font-family: MontserratLight, Tahoma, sans-serif; }
    .section_3_chi .content .text_block ul {
      font-size: 32px;
      font-family: MontserratBold, Tahoma, sans-serif;
      list-style: none; }
      .section_3_chi .content .text_block ul li {
        margin: 10px 0; }
        .section_3_chi .content .text_block ul li:before {
          content: "-";
          position: relative;
          left: -5px; }
    .section_3_chi .content .text_block .btn {
      width: 330px;
      color: #ffffff;
      font-size: 1.5rem;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      background-color: #bf974d;
      padding: .7rem 1rem;
      margin: 20px 0;
      text-transform: uppercase;
      position: relative;
      z-index: 999;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: 250ms ease-in background-color, 500ms ease-in color;
      -o-transition: 250ms ease-in background-color, 500ms ease-in color;
      transition: 250ms ease-in background-color, 500ms ease-in color; }
      .section_3_chi .content .text_block .btn:hover {
        background-color: #fae28d; }

.section_4_chi {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff; }
  .section_4_chi .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-family: MontserratBold, Tahoma, sans-serif;
    margin: 95px 0 0 0; }
  .section_4_chi .description-top {
    text-align: center;
    color: #888888;
    font-size: 30px;
    margin: 15px 0 70px 0;
    font-family: MontserratLight, Tahoma, sans-serif; }
  .section_4_chi .item {
    max-width: 260px;
    margin: 0 auto;
    height: auto;
    min-height: 151px; }
    .section_4_chi .item .img_block {
      text-align: center; }
    .section_4_chi .item .description {
      text-align: center;
      font-size: 18px;
      color: #bf974d; }
  .section_4_chi .border {
    border-right: 1px solid #dddddd;
    margin-bottom: 140px; }
    .section_4_chi .border:nth-child(4n) {
      border: none; }

.section_5_chi {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background: url("../img/bg_5_chi.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 110px 0; }
  .section_5_chi .title {
    text-transform: uppercase;
    font-size: 50px;
    font-family: MontserratBold, Tahoma, sans-serif;
    color: #bf974d;
    margin: 20px 0; }
  .section_5_chi .description {
    color: #bf974d;
    font-size: 28px;
    font-family: MontserratRegular, Tahoma, sans-serif;
    margin: 10px 0; }
  .section_5_chi .items_block .item {
    margin: 40px 0;
    width: 100%;
    max-width: 1260px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .section_5_chi .items_block .item .img_block {
      margin-right: 20px; }
    .section_5_chi .items_block .item .sub-description {
      color: #ffffff;
      font-size: 20px;
      font-family: MontserratRegular, Tahoma, sans-serif;
      margin: 0; }
    .section_5_chi .items_block .item .btn_block {
      margin-top: 20px; }
      .section_5_chi .items_block .item .btn_block button {
        border: none;
        -webkit-border-radius: 26px;
                border-radius: 26px;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        max-width: 145px;
        padding: 5px 10px;
        background-color: #bf974d;
        cursor: pointer; }
        .section_5_chi .items_block .item .btn_block button:hover {
          background-color: #f6ce5e; }

.second_slider {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  height: 895px; }
  .second_slider .slider_2 {
    height: 895px; }
    .second_slider .slider_2 .sl {
      height: 895px; }
      .second_slider .slider_2 .sl .content_box {
        margin: 150px auto 100px auto;
        width: 100%;
        max-width: 1550px; }
        .second_slider .slider_2 .sl .content_box .title {
          text-align: center;
          color: #ffffff;
          font-size: 60px;
          max-width: 1400px;
          margin: 0 auto;
          font-family: MontserratRegular, Tahoma, sans-serif;
          letter-spacing: 3px; }
        .second_slider .slider_2 .sl .content_box .description {
          text-align: center;
          color: #ffffff;
          font-size: 40px;
          font-family: MontserratLight, Tahoma, sans-serif;
          line-height: 80px; }
    .second_slider .slider_2 .sl1 {
      background: url("../img/slider2_sl1.jpg") no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
    .second_slider .slider_2 .sl2 {
      background: url("../img/slider2_sl2.jpg") no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }

.section_7_chi {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 0;
  background: url("../img/bg_7_chi.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .section_7_chi .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    font-family: MontserratBold, Tahoma, sans-serif; }
  .section_7_chi .description {
    width: 100%;
    max-width: 1120px;
    margin: 20px auto;
    font-size: 32px;
    text-align: center;
    font-family: MontserratLight, Tahoma, sans-serif; }
  .section_7_chi .items_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px; }
    .section_7_chi .items_wrap .item {
      width: 100%;
      max-width: 518px;
      background-color: #ffffff;
      margin: 0 3px;
      -webkit-box-shadow: 0 0 20px 1px #bebebe;
              box-shadow: 0 0 20px 1px #bebebe; }
      .section_7_chi .items_wrap .item .text_block {
        margin: 45px 30px;
        text-align: center; }
        .section_7_chi .items_wrap .item .text_block .sub-title {
          color: #000000;
          font-family: MontserratRegular, Tahoma, sans-serif; }
          .section_7_chi .items_wrap .item .text_block .sub-title span {
            color: #4263ac; }
        .section_7_chi .items_wrap .item .text_block .sub-description {
          font-family: MontserratLight, Tahoma, sans-serif;
          color: #929292;
          line-height: 34px;
          font-size: 18px;
          min-height: 136px; }
        .section_7_chi .items_wrap .item .text_block .btn_block button {
          border: none;
          -webkit-border-radius: 26px;
                  border-radius: 26px;
          -webkit-box-shadow: none;
                  box-shadow: none;
          color: #ffffff;
          padding: 5px 10px;
          width: 150px;
          background-color: #bf974d;
          font-size: 16px;
          cursor: pointer; }
          .section_7_chi .items_wrap .item .text_block .btn_block button:hover {
            background-color: #f6ce5e; }

.section_8_chi {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 0;
  background: url("../img/bg_8_chi.jpg") no-repeat 70%;
  -webkit-background-size: cover;
          background-size: cover; }
  .section_8_chi .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 780px;
    margin: 60px 0; }
    .section_8_chi .item .img_block {
      margin-right: 40px; }
    .section_8_chi .item .text_block .sub-title {
      color: #000000;
      font-size: 35px;
      font-family: MontserratRegular, Tahoma, sans-serif; }
    .section_8_chi .item .text_block .description {
      font-family: MontserratRegular, Tahoma, sans-serif;
      font-size: 20px; }

.section_9_chi {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  background-color: #262b2f; }
  .section_9_chi .title {
    color: #ffffff;
    font-size: 60px;
    font-family: MontserratRegular, Tahoma, sans-serif; }
  .section_9_chi .buttons_block button {
    border: 2px solid #ffffff;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
    background-color: inherit;
    color: #ffffff;
    width: 235px;
    font-size: 18px; }
    .section_9_chi .buttons_block button:hover {
      background-color: #bf974d;
      border: 2px solid #bf974d; }
    .section_9_chi .buttons_block button:nth-child(1) {
      margin-right: 40px; }

.footer_content {
  background-color: #222629;
  width: 100%;
  max-width: 1920px; }
  .footer_content .footer_content-top {
    padding-top: 35px;
    color: #FFFFFF; }
    .footer_content .footer_content-top .title {
      margin-top: 15px; }
      .footer_content .footer_content-top .title p {
        font-size: 16px;
        margin: 0;
        padding: 0; }
    .footer_content .footer_content-top .contacts p {
      font-size: 16px; }
      .footer_content .footer_content-top .contacts p:nth-child(1) {
        margin-top: 0; }
      .footer_content .footer_content-top .contacts p a {
        font-size: 16px;
        color: #ecc868;
        text-decoration: none; }
    .footer_content .footer_content-top .right-box {
      max-width: 760px;
      float: right; }
      .footer_content .footer_content-top .right-box h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
        color: #4e67a6; }
      .footer_content .footer_content-top .right-box .sign_up-box {
        margin-bottom: 30px; }
        .footer_content .footer_content-top .right-box .sign_up-box input {
          width: 100%;
          max-width: 200px;
          padding: 5px 15px;
          background-color: #222629;
          color: #bfbfbf;
          font-size: 14px;
          border: 1px solid #806a3f;
          margin-right: 0; }
        .footer_content .footer_content-top .right-box .sign_up-box button {
          margin-left: -5px;
          font-size: 14px;
          color: #FFFFFF;
          padding: 6px 15px;
          background-color: #bf974d;
          border: none;
          -webkit-border-bottom-right-radius: 20px;
                  border-bottom-right-radius: 20px;
          -webkit-border-top-right-radius: 20px;
                  border-top-right-radius: 20px; }
          .footer_content .footer_content-top .right-box .sign_up-box button:hover {
            background-color: #ecc868;
            cursor: pointer; }
      .footer_content .footer_content-top .right-box p {
        color: #bfbfbf;
        font-size: 14px;
        line-height: 20px; }
        .footer_content .footer_content-top .right-box p span {
          color: #FFFFFF; }
    .footer_content .footer_content-top .line {
      background-color: #FFFFFF;
      width: 100%;
      max-width: 1920px;
      height: 1px;
      margin: 35px auto; }
  .footer_content .footer_content-bottom {
    color: #FFFFFF; }
    .footer_content .footer_content-bottom p {
      font-size: 16px;
      margin: 0; }
      .footer_content .footer_content-bottom p:nth-last-child(1) {
        margin: 16px 0; }
    .footer_content .footer_content-bottom ul {
      font-size: 22px;
      float: right;
      margin: 0; }
      .footer_content .footer_content-bottom ul li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0 10px; }
        .footer_content .footer_content-bottom ul li a {
          text-decoration: none;
          padding: 2px;
          color: #4e67a6;
          font-family: Oxygen-Bold, Tahoma, sans-serif;
          font-weight: bold;
          letter-spacing: -3px; }
          .footer_content .footer_content-bottom ul li a:hover {
            color: #ecc868; }

@media (max-width: 1550px) {
  .header_chi .header-content {
    position: relative;
    height: 870px; }
    .header_chi .header-content .sl {
      height: 870px; }
      .header_chi .header-content .sl .content_box {
        max-width: 500px; }
        .header_chi .header-content .sl .content_box .btn {
          width: 220px;
          font-size: 20px;
          padding: 10px 0; }
  .section_7_chi .items_wrap .item .text_block .sub-description {
    min-height: 170px; }
  .section_8_chi {
    background: url("../img/bg_8_chi.jpg") no-repeat 50%;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 50px 0; }
    .section_8_chi .item {
      max-width: 660px;
      margin: 40px 0; } }

@media (max-width: 1440px) {
  .second_slider .slider_2 .sl .content_box .title {
    font-size: 50px; }
  .second_slider .slider_2 .sl .content_box .description {
    font-size: 30px;
    line-height: 65px; }
  .footer_content .footer_content-bottom ul li {
    margin: 0 5px; } }

@media (max-width: 1230px) {
  .section_7_chi .items_wrap .item .text_block {
    margin: 35px 20px; }
    .section_7_chi .items_wrap .item .text_block .sub-description {
      min-height: 250px; }
  .section_8_chi {
    background: url("../img/bg_8_chi.jpg") no-repeat 45%;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 50px 0; }
    .section_8_chi .item {
      max-width: 660px;
      margin: 30px 0; }
      .section_8_chi .item .img_block {
        margin-right: 20px; }
  .footer_content .footer_content-bottom ul li {
    margin: 0 3px; }
    .footer_content .footer_content-bottom ul li a {
      font-size: 18px; } }

@media (max-width: 1165px) {
  .header_chi .header-content {
    position: relative;
    height: 870px; }
    .header_chi .header-content .sl {
      height: 870px; }
      .header_chi .header-content .sl .content_box {
        max-width: 400px; }
        .header_chi .header-content .sl .content_box .btn {
          width: 180px;
          font-size: 20px;
          padding: 10px 0; }
    .header_chi .header-content .header-menu_chi .desktop_menu {
      font-size: 18px; }
      .header_chi .header-content .header-menu_chi .desktop_menu li {
        margin: 0 5px; }
        .header_chi .header-content .header-menu_chi .desktop_menu li a {
          padding: 2px 0; }
  .section_7_chi .items_wrap .item .text_block {
    margin: 35px 20px; }
    .section_7_chi .items_wrap .item .text_block .sub-description {
      min-height: 250px; }
  .section_8_chi {
    background: url("../img/bg_8_chi.jpg") no-repeat 45%;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 50px 0; }
    .section_8_chi .item {
      max-width: 600px; } }

@media (max-width: 1000px) {
  .header_chi .header-content .header-menu_chi .desktop_menu {
    font-size: 16px; }
    .header_chi .header-content .header-menu_chi .desktop_menu li {
      margin: 0 5px; }
      .header_chi .header-content .header-menu_chi .desktop_menu li a {
        padding: 2px 0; } }

@media (max-width: 991px) {
  .section_2_chi {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #262b2f; }
    .section_2_chi .items_wrap {
      max-width: 750px;
      margin: 0 auto; }
  .section_3_chi .content .text_block {
    margin: 50px 0; }
  .section_4_chi .title {
    margin: 50px 0 0 0; }
  .section_4_chi .border:nth-last-child(1) {
    margin-bottom: 50px; }
  .section_4_chi .border:nth-last-child(2) {
    margin-bottom: 50px; }
  .second_slider {
    height: 700px; }
    .second_slider .slider_2 {
      height: 700px; }
      .second_slider .slider_2 .sl {
        height: 700px; }
        .second_slider .slider_2 .sl .content_box {
          margin: 50px auto 100px auto; }
          .second_slider .slider_2 .sl .content_box .title {
            font-size: 45px; }
          .second_slider .slider_2 .sl .content_box .description {
            font-size: 26px;
            line-height: 50px; }
  .section_7_chi {
    padding: 50px 0; }
  .section_8_chi {
    padding: 50px 0; }
  .section_9_chi {
    padding: 50px 0; }
  .footer_content .footer_content-top .right-box {
    float: left; }
  .footer_content .footer_content-bottom ul {
    display: none; } }

@media (max-width: 960px) {
  .header_chi .header-content .desktop_menu {
    display: none; }
  .header_chi .header-content .header-menu_chi .burger_button {
    display: block; }
  .section_7_chi .items_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 60px auto 0 auto; }
    .section_7_chi .items_wrap .item {
      margin: 20px auto; }
      .section_7_chi .items_wrap .item .text_block .sub-description {
        min-height: 200px; }
  .section_8_chi {
    background: url("../img/bg_8_chi.jpg") no-repeat left; } }

@media (max-width: 860px) {
  .header_chi .header-content .sl1 {
    background: url("../img/bg_1_chi.jpg") no-repeat right;
    -webkit-background-size: cover;
            background-size: cover; }
    .header_chi .header-content .sl1 .content_box {
      float: none;
      margin: 300px auto;
      text-align: center; }
  .header_chi .header-content .sl2 {
    background: url("../img/bg_2_chi.jpg") no-repeat right;
    -webkit-background-size: cover;
            background-size: cover; }
    .header_chi .header-content .sl2 .content_box {
      float: none;
      margin: 300px auto;
      text-align: center; }
  .header_chi .header-content .sl3 {
    background: url("../img/bg_3_chi.jpg") no-repeat; }
    .header_chi .header-content .sl3 .content_box {
      float: none;
      margin: 300px auto;
      text-align: center; } }

@media (max-width: 768px) {
  .section_3_chi .content .text_block .title {
    font-size: 45px; }
  .section_3_chi .content .text_block .description {
    font-size: 28px; }
  .section_3_chi .content .text_block ul {
    font-size: 28px; }
  .section_3_chi .content .text_block .btn {
    font-size: 20px;
    width: 300px; }
  .section_4_chi .border:nth-child(2n) {
    border: none; }
  .section_5_chi {
    padding: 50px 0; }
    .section_5_chi .title {
      font-size: 45px; }
    .section_5_chi .items_block .item .sub-title {
      font-size: 24px; }
    .section_5_chi .items_block .item .sub-description {
      display: none; }
  .second_slider {
    height: 800px; }
    .second_slider .slider_2 {
      height: 800px; }
      .second_slider .slider_2 .sl {
        height: 800px; }
  .section_8_chi .item .text_block .sub-title {
    font-size: 28px; }
  .section_9_chi .title {
    font-size: 45px; }
  .section_9_chi .buttons_block button {
    width: 200px; }
    .section_9_chi .buttons_block button:nth-child(1) {
      margin-right: 20px; } }

@media (max-width: 640px) {
  .section_8_chi .item .img_block {
    display: none; } }

@media (max-width: 576px) {
  .section_4_chi .border {
    border: none; }
  .footer_content .footer_content-top .contacts {
    margin-top: 20px; } }

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../fonts/MontserratExtraBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/MontserratLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Oxygen-Regular";
  src: url("../fonts/Oxygen-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Oxygen-Bold";
  src: url("../fonts/Oxygen-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Oxygen-Light";
  src: url("../fonts/Oxygen-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  padding: 0;
  margin: 0;
  font-family: MontserratRegular, Tahoma, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  background-color: #ffffff; }

body h2 {
  font-size: 45px; }

body h3 {
  font-family: MontserratBold, Tahoma, sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin: 0; }

body .content {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto; }
